img {
    max-width: 100%;
}

@font-face {
    font-family: 'UniNeueBook';
    src: url('/fonts/UniNeueBook-Regular.otf');
}

#content {
    margin: 0 auto;
    top: 50%;
    left: 50%;
    display: block;
    max-width: 600px;
}

#left {
    float:left;
}

body {
    background-color: #f3f3f3;
    font-family: 'UniNeueBook';
}

.rodape {
    font-size: 80.0%;
}