<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>compileBitcode</key>
	<false/>
	<key>manifest</key>
	<dict>
		<key>appURL</key>
		<string>https://cockpit.novomundo.com.br/ios/1.0/Apps/Runner.ipa</string>
		<key>displayImageURL</key>
		<string>https://cockpit.novomundo.com.br/img/cockipt_logo_57x57.png</string>
		<key>fullSizeImageURL</key>
		<string>https://cockpit.novomundo.com.br/img/cockipt_logo_512x512.png</string>
	</dict>
	<key>method</key>
	<string>enterprise</string>
	<key>signingStyle</key>
	<string>automatic</string>
	<key>stripSwiftSymbols</key>
	<true/>
	<key>teamID</key>
	<string>X4CW4BT32T</string>
	<key>thinning</key>
	<string>&lt;thin-for-all-variants&gt;</string>
</dict>
</plist>
